.mainLayout{
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.mainContainer{
    height: 40px;
    width: 50vw;
    border-radius: 5px;
    text-align:left;
    background-color:gainsboro;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.txtTitle{
    font-weight:600;
}

.txtId{
    font-size: 12px;
    text-align:left;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.txtDescription{
    font-size: 12px;
    text-align:left;
    padding-left: 20px;
    padding-bottom: 10px;
}

.editIcon{
    height: 18px;
    width: 18px;
}


.deleteIcon{
    height: 18px;
    width: 18px;
}

.spacer{
    width: 10px;
}

.actions{
    display:flex;
}


@media only screen and (max-width: 700px) {

    .mainLayout{
       width: 80%;
    }

    .mainContainer {
        width: auto !important;
    }
  }