.mainAddTodoLayout{
    width: 50vw;
    text-align: left;
}

.headingDiv{
    display: flex;
    align-items: center
}


.spacer{
    width: 10px
}


.txtHeading{
    text-align: left;
    margin: 0px;
}

@media only screen and (max-width: 700px) {

    .mainAddTodoLayout{
        width: 80%;
    }
  }