.buttonMainDiv{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}

.buttonLayoutDiv{
    width: '50vw' ; 
    display: 'flex'; 
    justify-content: 'flex-end'; 
    margin-bottom: 10px
}


@media only screen and (max-width: 700px) {
    .buttonLayoutDiv{
        width: auto !important;
    }
  }